### UNITED NATIONS ACCESS TO BASIC SERVICES DATASET FOR YEARS 2015-2020

This Dataset contains informations about the following Economic Metrics for countries:
1. Percentage Access to Drinking water services
2. Percentage Access to Sanitation services
3. GDP of a Particular country at particular Time period
4. Population in a particular Country

The Following Data Analysis seeks to answer these Business Questions:
- What is the minimum and maximum access to drinking water services in each African Country?
- What is the average access to sanitation services in Sub_Saharan Africa?
- Which countries require MOST assistance from the UN due to low access to the Basic services?
- Does Political Instability affect Percentage Access to Water services?
- Regional Economic Communities in  West Africa
- Evaluating GDP per capita and Income Group of each country based on the Poverty Line Index in 2020

In [19]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\lenovo\anaconda3\envs\sql_packages\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\lenovo\anaconda3\envs\sql_packages\lib\site-packages (from mysql) (2.2.4)

In [20]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\lenovo\anaconda3\envs\sql_packages\lib\site-packages (1.0.2)

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%sql mysql+pymysql://root:Shirlyneisa100!!@localhost:3306/united_nations

In [23]:
%%sql
SELECT *
FROM access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2020, Decimal('95.00'), Decimal('98.00'), Decimal('18.755666'), Decimal('171.08'), Decimal('2699700.00'), Decimal('4.89')),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2015, Decimal('89.67'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2016, Decimal('90.33'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2017, Decimal('91.00'), Decimal('97.33'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2018, Decimal('91.33'), Decimal('97.33'), None, None, None, None)]

## 1. Number of observations in the dataset, Minimum and Maximum Time period, Number of Countries involved:

In [24]:
%%sql
SELECT
    COUNT(*) AS Number_of_observations,
    MIN(Time_period) AS Minimum_time_period,
    MAX(Time_period) AS Maximum_time_period,
    COUNT(DISTINCT Country_name) AS Number_of_countries,
    AVG(Pct_managed_drinking_water_services) AS AVG_managed_drinking_water_services
FROM
    Access_to_Basic_services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(1048, 2015, 2020, 182, Decimal('87.189103'))]

## 2. Creating a Summary Statistic Report for Access to Drinking Water Services of each Sub-Region:

There are 18 Geographical Sub-Regions represented in this dataset with Number of countries calculated for each sub-region:

There are _18 Geographical Sub-Regions_ represented in this dataset with _Number of countries_ calculated for each sub-region:

In [25]:
%%sql
SELECT
    Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS Minimum_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS Maximum_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS Average_Pct_managed_drinking_water_services,
    COUNT(DISTINCT Country_name) AS Number_of_countries,
    SUM(Est_gdp_in_billions) AS EST_total_gdp_in_billions
FROM
    Access_to_basic_services
GROUP BY Region, Sub_region
ORDER BY SUM(Est_gdp_in_billions) ASC;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Oceania', 'Polynesia', Decimal('91.00'), Decimal('100.00'), Decimal('98.506481'), 9, Decimal('46.76')),
 ('Oceania', 'Micronesia', Decimal('73.67'), Decimal('100.00'), Decimal('93.414634'), 7, Decimal('46.92')),
 ('Oceania', 'Melanesia', Decimal('53.67'), Decimal('99.00'), Decimal('82.700333'), 5, Decimal('237.87')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('38.33'), Decimal('77.33'), Decimal('58.967059'), 9, Decimal('837.34')),
 ('Central and Southern Asia', 'Central Asia', Decimal('80.33'), Decimal('100.00'), Decimal('93.144667'), 5, Decimal('1670.32')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('46.33'), Decimal('100.00'), Decimal('70.128421'), 20, Decimal('1944.61')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('64.00'), Decimal('100.00'), Decimal('96.005000'), 27, Decimal('2070.17')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('73.33'), Decimal('92.00'), Decimal('82.645000'), 5, Decimal('2386.64')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('61.33'), Decimal('100.00'), Decimal('88.906111'), 6, Decimal('2736.80')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('99.00'), Decimal('72.365686'), 17, Decimal('3621.31')),
 ('Latin America and the Caribbean', 'Central America', Decimal('79.00'), Decimal('100.00'), Decimal('93.798125'), 8, Decimal('8524.66')),
 ('Oceania', 'Australia and New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('100.000000'), 2, Decimal('9241.73')),
 ('Europe and Northern America', 'Northern America', Decimal('91.00'), Decimal('100.00'), Decimal('97.911333'), 5, Decimal('9905.96')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('59.00'), Decimal('100.00'), Decimal('95.031204'), 18, Decimal('13605.83')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('73.33'), Decimal('100.00'), Decimal('90.626061'), 11, Decimal('15563.18')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('67.00'), Decimal('99.67'), Decimal('91.894074'), 9, Decimal('19824.66')),
 ('Latin America and the Caribbean', 'South America', Decimal('86.00'), Decimal('100.00'), Decimal('94.880952'), 14, Decimal('19959.58')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('75.67'), Decimal('100.00'), Decimal('92.699667'), 5, Decimal('107123.37'))]

## 3. Which Regions and Sub-regions had the Lowest Access to Drinking Water services in _2020?_

In [26]:
%%sql
SELECT
    Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS Min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS Max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS Avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT Country_name) AS Countries,
    SUM(Est_gdp_in_billions) AS Total_gdp_in_billions
FROM
    Access_to_basic_services
WHERE
    Time_period = 2020
AND Pct_managed_drinking_water_services < 60
GROUP BY Region, Sub_region
ORDER BY AVG(Pct_managed_drinking_water_services) ASC;

 * mysql+pymysql://root:***@localhost:3306/united_nations
4 rows affected.

[('Sub-Saharan Africa', 'Middle Africa', Decimal('38.33'), Decimal('52.67'), Decimal('47.750000'), 4, Decimal('66.67')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('48.33'), Decimal('58.00'), Decimal('54.997500'), 4, Decimal('127.59')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('57.33'), Decimal('55.330000'), 2, Decimal('31.67')),
 ('Oceania', 'Melanesia', Decimal('56.67'), Decimal('56.67'), Decimal('56.670000'), 1, Decimal('23.85'))]

## 4. What is the Average Access to Sanitation services in Sub-Saharan Africa in _2020?_

In [27]:
%%sql
SELECT
    Region,
    Sub_region,
    ROUND(AVG(Pct_managed_sanitation_services), 2) AS Average_Access_to_Sanitation
FROM
    Access_to_basic_services
WHERE 
    Time_period = 2020
AND 
    Region = 'Sub-Saharan Africa'
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
4 rows affected.

[('Sub-Saharan Africa', 'Eastern Africa', Decimal('45.57')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('31.21')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('59.80')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('38.08'))]

## 5. Which countries require the MOST assistance from the United Nations due to Low Access to the Basic Services?

In [28]:
%%sql
SELECT
    Country_name,
    ROUND(AVG(Pct_managed_drinking_water_services)) AS Average_Access_to_Water,
    ROUND(AVG(Pct_managed_sanitation_services)) AS Average_Access_to_Sanitation
FROM
    Access_to_Basic_services
GROUP BY Country_name
HAVING
    AVG(Pct_managed_drinking_water_services) < 50
    AND AVG(Pct_managed_sanitation_services) < 50;

 * mysql+pymysql://root:***@localhost:3306/united_nations
3 rows affected.

[('South Sudan', Decimal('47'), Decimal('19')),
 ('Central African Republic', Decimal('41'), Decimal('16')),
 ('Democratic Republic of the Congo', Decimal('46'), Decimal('17'))]

## 6. Does Political Instability affect Access to Drinking Water services?

The top two countries in the world experiencing Political Instability is:
- North Korea - A Repressive Regime
- Sudan - Humanitarian Crisis with Millions displaced

In [29]:
%%sql
SELECT
    Country_name,
    Time_period,
    Est_gdp_in_billions,
    Pct_managed_drinking_water_services
FROM
    Access_to_basic_services
WHERE 
    Country_name LIKE "%Korea" 
    AND Time_period = 2020
    OR Country_name = 'Sudan'
    AND Time_period = 2020;

 * mysql+pymysql://root:***@localhost:3306/united_nations
3 rows affected.

[("Democratic People's Republic of Korea", 2020, None, Decimal('93.33')),
 ('Republic of Korea', 2020, None, Decimal('100.00')),
 ('Sudan', 2020, Decimal('27.03'), Decimal('62.33'))]

However, we can see that both countries had Percentage access to drinking water above 60% , suggesting 
that their _Political Instability_ did NOT affect their access to basic water services.

We use a correlation Heatmap to determine if there is any relationship between Estimated GDP of a Country and Percentage Access to Drinking Water services:

## 7. Grouping West African Countries into Regional Economic Communities

There are 3 MAIN Regional Economic Communities for West African Countries:
- SADC : South African Development Community
- UMA : Union du Maghreb Arabe 
- ECOWAS : Economic Community of West African States

In [30]:
%%sql
SELECT 
    CASE 
        WHEN Country_name IN ("Angola", "Botswana", "Comoros", "Democratic Republic of Congo",
                              "Eswatini", "Lesotho", "Madagascar", "Malawi", "Mauritius", 
                              "Namibia", "Seychelles", "South Africa", "United Republic of Tanzania",
                              "Zambia", "Zimbabwe")
            THEN "SADC"
        WHEN Country_name IN ("Algeria", "Libya", "Mauritania", "Tunisia")
            THEN "UMA"
        WHEN Country_name IN ("Benin", "Burkina Faso", "Cabo Verde", "Cote d'Ivoire", "Gambia",
                              "Ghana", "Guinea", "Guinea-Bissau", "Liberia", "Mali", "Niger",
                              "Nigeria", "Senegal", "Sierra Leone", "Togo")
            THEN "ECOWAS"
        ELSE "Not Classified"
    END AS Regional_Economic_Community,
    Country_name,
    Pct_managed_drinking_water_services
FROM 
    Access_to_Basic_services
WHERE Country_name IN ("Angola", "Botswana", "Comoros", "Democratic Republic of Congo",
                       "Eswatini", "Lesotho", "Madagascar", "Malawi", "Mauritius", 
                       "Namibia", "Seychelles", "South Africa", "United Republic of Tanzania",
                       "Zambia", "Zimbabwe", "Algeria", "Libya", "Mauritania", "Tunisia",
                       "Benin", "Burkina Faso", "Cabo Verde", "Cote d'Ivoire", "Gambia",
                       "Ghana", "Guinea", "Guinea-Bissau", "Liberia", "Mali", "Niger",
                       "Nigeria", "Senegal", "Sierra Leone", "Togo")
AND Time_period = 2020;

 * mysql+pymysql://root:***@localhost:3306/united_nations
31 rows affected.

[('UMA', 'Algeria', Decimal('93.33')),
 ('UMA', 'Libya', Decimal('100.00')),
 ('UMA', 'Tunisia', Decimal('97.00')),
 ('SADC', 'Madagascar', Decimal('56.33')),
 ('SADC', 'Malawi', Decimal('74.33')),
 ('SADC', 'Mauritius', Decimal('100.00')),
 ('SADC', 'United Republic of Tanzania', Decimal('65.00')),
 ('SADC', 'Zambia', Decimal('66.67')),
 ('SADC', 'Zimbabwe', Decimal('68.00')),
 ('SADC', 'Angola', Decimal('52.33')),
 ('SADC', 'Botswana', Decimal('89.67')),
 ('SADC', 'Eswatini', Decimal('76.67')),
 ('SADC', 'Lesotho', Decimal('76.33')),
 ('SADC', 'Namibia', Decimal('83.67')),
 ('SADC', 'South Africa', Decimal('92.00')),
 ('ECOWAS', 'Benin', Decimal('65.33')),
 ('ECOWAS', 'Burkina Faso', Decimal('53.33')),
 ('ECOWAS', 'Cabo Verde', Decimal('87.33')),
 ('ECOWAS', "Côte d'Ivoire", Decimal('70.67')),
 ('ECOWAS', 'Gambia', Decimal('79.33')),
 ('ECOWAS', 'Ghana', Decimal('84.67')),
 ('ECOWAS', 'Guinea', Decimal('67.33')),
 ('ECOWAS', 'Guinea-Bissau', Decimal('60.00')),
 ('ECOWAS', 'Liberia', Decimal('75.00')),
 ('ECOWAS', 'Mali', Decimal('83.67')),
 ('UMA', 'Mauritania', Decimal('70.33')),
 ('ECOWAS', 'Niger', Decimal('57.33')),
 ('ECOWAS', 'Nigeria', Decimal('77.33')),
 ('ECOWAS', 'Senegal', Decimal('85.00')),
 ('ECOWAS', 'Sierra Leone', Decimal('65.00')),
 ('ECOWAS', 'Togo', Decimal('70.67'))]

### 8. Evaluating GDP Per Capita and Income Group based on the Poverty Line

In 2020, the Poverty Line Index was 2.50:
- Any index below the Poverty Line is termed as _Low Income Country_
- Any index above the Poverty Line is termed as _High Income Country_
- Any index equal to the Poverty Line is termed as _Medium Income Country_

Each Country is Grouped into either of the three income groups above, based on 
their __GDP per Capita_ 

- GDP Per Capita = GDP in Billions / Total Population
- GDP Per Capita per Day = GDP Per Capita / 365.25


-The GDP Per Capita Per Day is compared to the Poverty Line Index

In [31]:
%%sql
SELECT DISTINCT Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    ROUND((Est_gdp_in_billions / Est_population_in_millions * 1000), 2)  AS GDP_per_capita,
    ROUND((Est_gdp_in_billions / Est_population_in_millions * 1000) / 365.25, 2) AS GDP_per_capita_per_day,
    CASE 
        WHEN ROUND((Est_gdp_in_billions / Est_population_in_millions * 1000) / 365.25, 2) < 2.50 
            THEN "Low Income"
        WHEN ROUND((Est_gdp_in_billions / Est_population_in_millions * 1000) / 365.25, 2) > 2.50
            THEN "High Income"
        ELSE "Medium Income"
    END AS Income_Group
FROM
    Access_to_basic_services
WHERE 
    Time_period = 2020
    AND Est_gdp_in_billions IS NOT NULL;

 * mysql+pymysql://root:***@localhost:3306/united_nations
126 rows affected.

[('Kazakhstan', 2020, Decimal('18.755666'), Decimal('171.08'), Decimal('9121.51'), Decimal('24.97'), 'High Income'),
 ('Tajikistan', 2020, Decimal('9.543207'), Decimal('8.13'), Decimal('851.91'), Decimal('2.33'), 'Low Income'),
 ('Uzbekistan', 2020, Decimal('34.232050'), Decimal('59.89'), Decimal('1749.53'), Decimal('4.79'), 'High Income'),
 ('Afghanistan', 2020, Decimal('38.972230'), Decimal('20.14'), Decimal('516.78'), Decimal('1.41'), 'Low Income'),
 ('Bangladesh', 2020, Decimal('167.420951'), Decimal('373.90'), Decimal('2233.29'), Decimal('6.11'), 'High Income'),
 ('Bhutan', 2020, Decimal('0.772506'), Decimal('2.33'), Decimal('3016.16'), Decimal('8.26'), 'High Income'),
 ('India', 2020, Decimal('1396.387127'), Decimal('2667.69'), Decimal('1910.42'), Decimal('5.23'), 'High Income'),
 ('Maldives', 2020, Decimal('0.514438'), Decimal('3.75'), Decimal('7289.51'), Decimal('19.96'), 'High Income'),
 ('Nepal', 2020, Decimal('29.348627'), Decimal('33.43'), Decimal('1139.07'), Decimal('3.12'), 'High Income'),
 ('Pakistan', 2020, Decimal('227.196741'), Decimal('300.43'), Decimal('1322.33'), Decimal('3.62'), 'High Income'),
 ('Sri Lanka', 2020, Decimal('21.919000'), Decimal('85.35'), Decimal('3893.88'), Decimal('10.66'), 'High Income'),
 ('China', 2020, Decimal('1411.100000'), Decimal('14687.67'), Decimal('10408.67'), Decimal('28.50'), 'High Income'),
 ('Japan', 2020, Decimal('126.261000'), Decimal('5040.11'), Decimal('39918.19'), Decimal('109.29'), 'High Income'),
 ('Mongolia', 2020, Decimal('3.294335'), Decimal('13.31'), Decimal('4040.27'), Decimal('11.06'), 'High Income'),
 ('Brunei Darussalam', 2020, Decimal('0.441725'), Decimal('12.01'), Decimal('27188.86'), Decimal('74.44'), 'High Income'),
 ('Cambodia', 2020, Decimal('16.396860'), Decimal('25.87'), Decimal('1577.74'), Decimal('4.32'), 'High Income'),
 ('Indonesia', 2020, Decimal('271.857970'), Decimal('1058.69'), Decimal('3894.28'), Decimal('10.66'), 'High Income'),
 ('Malaysia', 2020, Decimal('33.199993'), Decimal('337.34'), Decimal('10160.85'), Decimal('27.82'), 'High Income'),
 ('Myanmar', 2020, Decimal('53.423198'), Decimal('78.93'), Decimal('1477.45'), Decimal('4.05'), 'High Income'),
 ('Philippines', 2020, Decimal('112.190977'), Decimal('361.75'), Decimal('3224.41'), Decimal('8.83'), 'High Income'),
 ('Singapore', 2020, Decimal('5.685807'), Decimal('345.30'), Decimal('60730.17'), Decimal('166.27'), 'High Income'),
 ('Thailand', 2020, Decimal('71.475664'), Decimal('499.68'), Decimal('6990.91'), Decimal('19.14'), 'High Income'),
 ('Timor-Leste', 2020, Decimal('1.299995'), Decimal('2.16'), Decimal('1661.54'), Decimal('4.55'), 'High Income'),
 ('Bermuda', 2020, Decimal('0.063893'), Decimal('6.89'), Decimal('107836.54'), Decimal('295.24'), 'High Income'),
 ('Canada', 2020, Decimal('38.037204'), Decimal('1645.42'), Decimal('43258.17'), Decimal('118.43'), 'High Income'),
 ('Greenland', 2020, Decimal('0.056367'), Decimal('3.08'), Decimal('54641.90'), Decimal('149.60'), 'High Income'),
 ('Barbados', 2020, Decimal('0.280693'), Decimal('4.67'), Decimal('16637.39'), Decimal('45.55'), 'High Income'),
 ('Cuba', 2020, Decimal('11.300698'), Decimal('107.35'), Decimal('9499.41'), Decimal('26.01'), 'High Income'),
 ('Dominican Republic', 2020, Decimal('10.999664'), Decimal('78.84'), Decimal('7167.49'), Decimal('19.62'), 'High Income'),
 ('Haiti', 2020, Decimal('11.306801'), Decimal('14.51'), Decimal('1283.30'), Decimal('3.51'), 'High Income'),
 ('Jamaica', 2020, Decimal('2.820436'), Decimal('13.81'), Decimal('4896.41'), Decimal('13.41'), 'High Income'),
 ('Puerto Rico', 2020, Decimal('3.281538'), Decimal('103.02'), Decimal('31393.82'), Decimal('85.95'), 'High Income'),
 ('Trinidad and Tobago', 2020, Decimal('1.518147'), Decimal('21.06'), Decimal('13872.17'), Decimal('37.98'), 'High Income'),
 ('Belize', 2020, Decimal('0.394921'), Decimal('2.08'), Decimal('5266.88'), Decimal('14.42'), 'High Income'),
 ('Costa Rica', 2020, Decimal('5.123105'), Decimal('62.16'), Decimal('12133.27'), Decimal('33.22'), 'High Income'),
 ('El Salvador', 2020, Decimal('6.292731'), Decimal('24.56'), Decimal('3902.92'), Decimal('10.69'), 'High Income'),
 ('Guatemala', 2020, Decimal('16.858333'), Decimal('77.63'), Decimal('4604.84'), Decimal('12.61'), 'High Income'),
 ('Honduras', 2020, Decimal('10.121763'), Decimal('23.83'), Decimal('2354.33'), Decimal('6.45'), 'High Income'),
 ('Mexico', 2020, Decimal('125.998302'), Decimal('1090.52'), Decimal('8655.04'), Decimal('23.70'), 'High Income'),
 ('Nicaragua', 2020, Decimal('6.755895'), Decimal('12.59'), Decimal('1863.56'), Decimal('5.10'), 'High Income'),
 ('Panama', 2020, Decimal('4.294396'), Decimal('53.98'), Decimal('12569.87'), Decimal('34.41'), 'High Income'),
 ('Argentina', 2020, Decimal('45.376763'), Decimal('385.54'), Decimal('8496.42'), Decimal('23.26'), 'High Income'),
 ('Brazil', 2020, Decimal('213.196304'), Decimal('1448.56'), Decimal('6794.49'), Decimal('18.60'), 'High Income'),
 ('Chile', 2020, Decimal('19.300315'), Decimal('252.73'), Decimal('13094.60'), Decimal('35.85'), 'High Income'),
 ('Colombia', 2020, Decimal('50.930662'), Decimal('270.30'), Decimal('5307.22'), Decimal('14.53'), 'High Income'),
 ('Ecuador', 2020, Decimal('17.588595'), Decimal('99.29'), Decimal('5645.14'), Decimal('15.46'), 'High Income'),
 ('Guyana', 2020, Decimal('0.797202'), Decimal('5.47'), Decimal('6861.50'), Decimal('18.79'), 'High Income'),
 ('Paraguay', 2020, Decimal('6.618695'), Decimal('35.43'), Decimal('5353.02'), Decimal('14.66'), 'High Income'),
 ('Peru', 2020, Decimal('33.304756'), Decimal('201.71'), Decimal('6056.49'), Decimal('16.58'), 'High Income'),
 ('Suriname', 2020, Decimal('0.607065'), Decimal('2.91'), Decimal('4793.56'), Decimal('13.12'), 'High Income'),
 ('Uruguay', 2020, Decimal('3.429086'), Decimal('53.56'), Decimal('15619.32'), Decimal('42.76'), 'High Income'),
 ('Algeria', 2020, Decimal('43.451666'), Decimal('145.01'), Decimal('3337.27'), Decimal('9.14'), 'High Income'),
 ('Libya', 2020, Decimal('6.653942'), Decimal('50.36'), Decimal('7568.45'), Decimal('20.72'), 'High Income'),
 ('Morocco', 2020, Decimal('36.688772'), Decimal('121.35'), Decimal('3307.55'), Decimal('9.06'), 'High Income'),
 ('Sudan', 2020, Decimal('44.440486'), Decimal('27.03'), Decimal('608.23'), Decimal('1.67'), 'Low Income'),
 ('Tunisia', 2020, Decimal('12.161723'), Decimal('42.54'), Decimal('3497.86'), Decimal('9.58'), 'High Income'),
 ('Armenia', 2020, Decimal('2.805608'), Decimal('12.64'), Decimal('4505.26'), Decimal('12.33'), 'High Income'),
 ('Azerbaijan', 2020, Decimal('10.093121'), Decimal('42.69'), Decimal('4229.61'), Decimal('11.58'), 'High Income'),
 ('Bahrain', 2020, Decimal('1.477469'), Decimal('34.72'), Decimal('23499.65'), Decimal('64.34'), 'High Income'),
 ('Cyprus', 2020, Decimal('1.237537'), Decimal('25.01'), Decimal('20209.50'), Decimal('55.33'), 'High Income'),
 ('Georgia', 2020, Decimal('3.722716'), Decimal('15.84'), Decimal('4254.96'), Decimal('11.65'), 'High Income'),
 ('Iraq', 2020, Decimal('42.556984'), Decimal('184.37'), Decimal('4332.31'), Decimal('11.86'), 'High Income'),
 ('Israel', 2020, Decimal('9.215100'), Decimal('413.27'), Decimal('44847.04'), Decimal('122.78'), 'High Income'),
 ('Jordan', 2020, Decimal('10.928721'), Decimal('44.18'), Decimal('4042.56'), Decimal('11.07'), 'High Income'),
 ('Kuwait', 2020, Decimal('4.360444'), Decimal('105.96'), Decimal('24300.28'), Decimal('66.53'), 'High Income'),
 ('Lebanon', 2020, Decimal('5.662923'), Decimal('31.71'), Decimal('5599.58'), Decimal('15.33'), 'High Income'),
 ('Oman', 2020, Decimal('4.543399'), Decimal('75.91'), Decimal('16707.76'), Decimal('45.74'), 'High Income'),
 ('Qatar', 2020, Decimal('2.760385'), Decimal('144.41'), Decimal('52315.17'), Decimal('143.23'), 'High Income'),
 ('Saudi Arabia', 2020, Decimal('35.997107'), Decimal('703.37'), Decimal('19539.63'), Decimal('53.50'), 'High Income'),
 ('Syrian Arab Republic', 2020, Decimal('20.772595'), Decimal('11.08'), Decimal('533.40'), Decimal('1.46'), 'Low Income'),
 ('United Arab Emirates', 2020, Decimal('9.287289'), Decimal('349.47'), Decimal('37628.85'), Decimal('103.02'), 'High Income'),
 ('Australia', 2020, Decimal('25.655289'), Decimal('1326.90'), Decimal('51720.33'), Decimal('141.60'), 'High Income'),
 ('New Zealand', 2020, Decimal('5.090200'), Decimal('211.73'), Decimal('41595.62'), Decimal('113.88'), 'High Income'),
 ('Fiji', 2020, Decimal('0.920422'), Decimal('4.48'), Decimal('4867.33'), Decimal('13.33'), 'High Income'),
 ('New Caledonia', 2020, Decimal('0.271130'), Decimal('9.44'), Decimal('34817.25'), Decimal('95.32'), 'High Income'),
 ('Papua New Guinea', 2020, Decimal('9.749640'), Decimal('23.85'), Decimal('2446.24'), Decimal('6.70'), 'High Income'),
 ('Solomon Islands', 2020, Decimal('0.691191'), Decimal('1.54'), Decimal('2228.04'), Decimal('6.10'), 'High Income'),
 ('Vanuatu', 2020, Decimal('0.311685'), Decimal('0.90'), Decimal('2887.53'), Decimal('7.91'), 'High Income'),
 ('Guam', 2020, Decimal('0.169231'), Decimal('5.89'), Decimal('34804.50'), Decimal('95.29'), 'High Income'),
 ('Kiribati', 2020, Decimal('0.126463'), Decimal('0.18'), Decimal('1423.34'), Decimal('3.90'), 'High Income'),
 ('Marshall Islands', 2020, Decimal('0.043413'), Decimal('0.24'), Decimal('5528.30'), Decimal('15.14'), 'High Income'),
 ('Nauru', 2020, Decimal('0.012315'), Decimal('0.11'), Decimal('8932.20'), Decimal('24.46'), 'High Income'),
 ('Palau', 2020, Decimal('0.017972'), Decimal('0.25'), Decimal('13910.53'), Decimal('38.08'), 'High Income'),
 ('American Samoa', 2020, Decimal('0.046189'), Decimal('0.72'), Decimal('15588.13'), Decimal('42.68'), 'High Income'),
 ('French Polynesia', 2020, Decimal('0.301920'), Decimal('5.71'), Decimal('18912.29'), Decimal('51.78'), 'High Income'),
 ('Samoa', 2020, Decimal('0.214929'), Decimal('0.87'), Decimal('4047.85'), Decimal('11.08'), 'High Income'),
 ('Tonga', 2020, Decimal('0.105254'), Decimal('0.48'), Decimal('4560.40'), Decimal('12.49'), 'High Income'),
 ('Tuvalu', 2020, Decimal('0.011069'), Decimal('0.06'), Decimal('5420.54'), Decimal('14.84'), 'High Income'),
 ('Burundi', 2020, Decimal('12.220227'), Decimal('2.65'), Decimal('216.85'), Decimal('0.59'), 'Low Income'),
 ('Djibouti', 2020, Decimal('1.090156'), Decimal('3.18'), Decimal('2917.01'), Decimal('7.99'), 'High Income'),
 ('Ethiopia', 2020, Decimal('117.190911'), Decimal('107.66'), Decimal('918.67'), Decimal('2.52'), 'High Income'),
 ('Kenya', 2020, Decimal('51.985780'), Decimal('100.67'), Decimal('1936.49'), Decimal('5.30'), 'High Income'),
 ('Madagascar', 2020, Decimal('28.225177'), Decimal('13.05'), Decimal('462.35'), Decimal('1.27'), 'Low Income'),
 ('Malawi', 2020, Decimal('19.377061'), Decimal('12.18'), Decimal('628.58'), Decimal('1.72'), 'Low Income'),
 ('Mauritius', 2020, Decimal('1.265740'), Decimal('11.40'), Decimal('9006.59'), Decimal('24.66'), 'High Income'),
 ('Mozambique', 2020, Decimal('31.178239'), Decimal('14.03'), Decimal('449.99'), Decimal('1.23'), 'Low Income'),
 ('Rwanda', 2020, Decimal('13.146362'), Decimal('10.18'), Decimal('774.36'), Decimal('2.12'), 'Low Income'),
 ('Somalia', 2020, Decimal('16.537016'), Decimal('6.88'), Decimal('416.04'), Decimal('1.14'), 'Low Income'),
 ('Uganda', 2020, Decimal('44.404611'), Decimal('37.60'), Decimal('846.76'), Decimal('2.32'), 'Low Income'),
 ('Zambia', 2020, Decimal('18.927715'), Decimal('18.11'), Decimal('956.80'), Decimal('2.62'), 'High Income'),
 ('Zimbabwe', 2020, Decimal('15.669666'), Decimal('21.51'), Decimal('1372.72'), Decimal('3.76'), 'High Income'),
 ('Angola', 2020, Decimal('33.428486'), Decimal('53.62'), Decimal('1604.02'), Decimal('4.39'), 'High Income'),
 ('Cameroon', 2020, Decimal('26.491087'), Decimal('40.77'), Decimal('1539.01'), Decimal('4.21'), 'High Income'),
 ('Central African Republic', 2020, Decimal('5.343020'), Decimal('2.33'), Decimal('436.08'), Decimal('1.19'), 'Low Income'),
 ('Chad', 2020, Decimal('16.644701'), Decimal('10.72'), Decimal('644.05'), Decimal('1.76'), 'Low Income'),
 ('Gabon', 2020, Decimal('2.292573'), Decimal('15.31'), Decimal('6678.09'), Decimal('18.28'), 'High Income'),
 ('Sao Tome and Principe', 2020, Decimal('0.218641'), Decimal('0.47'), Decimal('2149.64'), Decimal('5.89'), 'High Income'),
 ('Botswana', 2020, Decimal('2.546402'), Decimal('14.93'), Decimal('5863.17'), Decimal('16.05'), 'High Income'),
 ('Eswatini', 2020, Decimal('1.180655'), Decimal('3.98'), Decimal('3371.01'), Decimal('9.23'), 'High Income'),
 ('Lesotho', 2020, Decimal('2.254100'), Decimal('2.23'), Decimal('989.31'), Decimal('2.71'), 'High Income'),
 ('Namibia', 2020, Decimal('2.489098'), Decimal('10.58'), Decimal('4250.54'), Decimal('11.64'), 'High Income'),
 ('South Africa', 2020, Decimal('58.801927'), Decimal('337.62'), Decimal('5741.65'), Decimal('15.72'), 'High Income'),
 ('Benin', 2020, Decimal('12.643123'), Decimal('15.65'), Decimal('1237.83'), Decimal('3.39'), 'High Income'),
 ('Burkina Faso', 2020, Decimal('21.522626'), Decimal('17.93'), Decimal('833.08'), Decimal('2.28'), 'Low Income'),
 ('Cabo Verde', 2020, Decimal('0.582640'), Decimal('1.70'), Decimal('2917.75'), Decimal('7.99'), 'High Income'),
 ('Ghana', 2020, Decimal('32.180401'), Decimal('70.04'), Decimal('2176.48'), Decimal('5.96'), 'High Income'),
 ('Guinea', 2020, Decimal('13.205153'), Decimal('14.18'), Decimal('1073.82'), Decimal('2.94'), 'High Income'),
 ('Guinea-Bissau', 2020, Decimal('2.015828'), Decimal('1.43'), Decimal('709.39'), Decimal('1.94'), 'Low Income'),
 ('Liberia', 2020, Decimal('5.087584'), Decimal('3.04'), Decimal('597.53'), Decimal('1.64'), 'Low Income'),
 ('Mali', 2020, Decimal('21.224040'), Decimal('17.47'), Decimal('823.12'), Decimal('2.25'), 'Low Income'),
 ('Mauritania', 2020, Decimal('4.498604'), Decimal('8.41'), Decimal('1869.47'), Decimal('5.12'), 'High Income'),
 ('Niger', 2020, Decimal('24.333639'), Decimal('13.74'), Decimal('564.65'), Decimal('1.55'), 'Low Income'),
 ('Nigeria', 2020, Decimal('208.327405'), Decimal('432.20'), Decimal('2074.62'), Decimal('5.68'), 'High Income'),
 ('Senegal', 2020, Decimal('16.436120'), Decimal('24.49'), Decimal('1490.01'), Decimal('4.08'), 'High Income'),
 ('Sierra Leone', 2020, Decimal('8.233970'), Decimal('4.06'), Decimal('493.08'), Decimal('1.35'), 'Low Income'),
 ('Togo', 2020, Decimal('8.442580'), Decimal('7.57'), Decimal('896.65'), Decimal('2.45'), 'Low Income')]